@using TinyTimeline.Models
@model TimelineEventModel
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />

<form action="/Interaction/SaveEvent" method="post">    
    <div class="margin_top margin_left">
        @Html.Partial("Menu", new MenuModel{SessionId = Model.SessionId})
        
        <div class="margin_bottom">
            <label>Date</label>
            <div>
                <input data-val="true" data-val-required="The Date field is required." id="Date" name="Date" type="date">
            </div>
        </div>

        <label>Event description</label>
        <div>
            <textarea class="event_desciption" id="Text" name="Text" type="text" value=""></textarea>
        </div>

        <input data-val="true" id="SessionId" name="SessionId" type="hidden" value="@Model.SessionId">

        <div class="margin_top">
            <input type="submit" class="btn btn-primary btn-sm" value="Save event">
        </div>
    </div>
</form>