@using TinyTimeline.Models
@model SessionInfoModel
@{
    Layout = "Layout";
}

<form action="/Interaction/SaveReview" method="post">    
    <div class="margin_top">
        @await Html.PartialAsync("Menu", new MenuModel{SessionId = Model.SessionId})
        @Html.DisplayFor(m => m)
        
        <div class="margin_bottom">
            <label>Rating</label>
            <div>
                <input data-val="true" data-val-required="The Rating field is required." id="Rating" name="Rating" type="number" min="1" max="10" value="1">
            </div>
        </div>

        <label>Review</label>
        <div>
            <textarea data-autoresize class="discussion_area" rows="5" id="Content" name="Content" type="text" value=""></textarea>
        </div>

        <input data-val="true" id="SessionId" name="SessionId" type="hidden" value="@Model.SessionId">

        <div class="margin_top">
            <input type="submit" class="btn btn-primary btn-sm" value="Save review">
        </div>
    </div>
</form>