<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>

@{
    Layout = "Layout";
}

<form action="/Interaction/SaveSession" method="post">    
    <div class="margin_top">
        <div>
            <label>Session name</label>
        </div>
        <input class="text-box single-line" id="sessionName" name="sessionName" type="text" value="">
        
        <input class="btn btn-primary btn-sm" type="submit" value="Save session"/>
    </div>
</form>