.vote_item {
    margin-bottom : 20px;
}

.margin_bottom {
    margin-bottom : 10px;
}

.margin_left {
    margin-left : 5px;
}

.margin_top {
    margin-top : 5px;
}

.event{
    width: 400px;
    word-break: break-all;
}

.menu{
    border: 4px black;
    border-collapse: collapse;
}

.menu td {
    padding: 5px;
    border: 1px solid black;
}