.vote_item {
    margin-bottom : 20px;
}

.margin_bottom {
    margin-bottom : 10px;
}

.margin_top {
    margin-top : 10px;
}

.event{
    word-break: break-word;
}

.discussion_area{
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    padding: 6px 8px;
}

.multiline {
    white-space: pre-line;
}

.menu{
    border: 4px black;
    border-collapse: collapse;
    width: 100%;
}

.event_desciption{
    height: 200px;
    width: 80%;
}

.float_right{
    float: right;
}

.negative_margin_top{
    margin-top: -1px;
}

.float_left{
    float: left;
}

.menu td {
    padding: 5px;
    border: 1px solid black;
}

.bordered_fill {
    border: 1px solid black;
    background: rgba(232, 230, 244, 0.12);
    padding: 10px;
    
}

.layout{
    width: 50%;
    margin: 0 auto;
}

@media (pointer:coarse) {
    .layout {
        width: 95%;
        margin: 0 auto;
    }
}

.layout_container{

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

    opacity: 1;

}