@model TinyTimeline.Models.TimelineEventModel

@using (Html.BeginForm("SaveEvent", "Main", FormMethod.Post))
{
    <label>Date</label>
    @Html.EditorFor(m => m.Date);

    <br />
    <label>Event description</label>
    @Html.TextBoxFor(m => m.Text);

    <br />
    <input type="submit" value="Save event" />
}
