@model string
@{
    Layout = "Layout";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
<link rel="stylesheet" href="~/css/site.css"/>

<div>
    <form autocomplete="off" action="/Tokens/SaveToken" method="post">    
        <div class="margin_top">
            <div>
                <label>Enter your token</label>
            </div>
            <input autocomplete="off" class="text-box single-line margin_bottom" style="width: 80%" id="token" name="token" type="password" value="">
            <input autocomplete="off" hidden="true" id="returnUrl" name="returnUrl" type="text" value="@Model">
            
            <input class="btn btn-primary btn-sm" type="submit" value="Continue"/>
        </div>
    </form>
</div>