<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
<link rel="stylesheet" href="~/css/site.css"/>

<form action="/Tokens/SaveToken" method="post">    
    <div class="margin_top margin_left">
        <div>
            <label>Enter your token</label>
        </div>
        <input class="text-box single-line" style="width: 255px" id="token" name="token" type="text" value="">
        
        <input class="btn btn-primary btn-sm" type="submit" value="Continue"/>
    </div>
</form>