@model TinyTimeline.Models.TimelineEventModel
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="~/css/site.css" />

<div class="event margin_bottom bordered_fill">
    <label>@Html.DisplayFor(m => m.Date):</label>
    <label>+(@Model.Positive) / -(@Model.Negative)</label>
    <div>
        @Model.Text
    </div>
</div>