@model TinyTimeline.Models.MainModel
@foreach (var e in Model.Events)
{
    <div>
        @Html.DisplayFor(m => e.Date):
        @e.Text;
        @e.Positive :
        @e.Negative
    </div>
}